Repository idurar/erp-crm, pull requests merged in 2023-09, with the labels that each got.

#335 Add Items list validation on `ReadItem` ERP Panel
  frontend/src/components/ErpPanel/ReadItem.jsx
  frontend/src/components/ErpPanel/index.jsx
  frontend/src/modules/PaymentModule/DataTableDropMenu.jsx
  frontend/src/modules/PaymentModule/PaymentInvoiceItem.jsx
  frontend/src/modules/PaymentModule/index.jsx
  frontend/src/pages/PaymentInvoice.jsx
Labels: bug, Frontend

#286 added Dockerfile
  .dockerignore
  Dockerfile
  docker-compose.yaml
  frontend/.dockerignore
  frontend/Dockerfile
Labels: in progress

#414 [FIX] Customer preview calculation, fix dashboard analytic
  controllers/erpControllers/clientController.js
  controllers/erpControllers/invoiceController.js
  controllers/erpControllers/offerController.js
  controllers/erpControllers/paymentInvoiceController.js
  controllers/erpControllers/quoteController.js
  frontend/package-lock.json
  frontend/yarn.lock
  models/erpModels/Quote.js
  package-lock.json
  yarn.lock
Labels: bug, Backend

#537 [FEATURE] Create offer frontend CRUD
  controllers/erpControllers/offerController.js
  frontend/src/app/Navigation/index.jsx
  frontend/src/modules/ErpPanelModule/CreateItem.jsx
  frontend/src/modules/ErpPanelModule/ItemRow.jsx
  frontend/src/modules/OfferModule/CreateOfferModule/index.jsx
  frontend/src/modules/OfferModule/Forms/OfferForm.jsx
  frontend/src/modules/OfferModule/OfferDataTableModule/components/DataTableDropMenu.jsx
  frontend/src/modules/OfferModule/OfferDataTableModule/index.jsx
  frontend/src/modules/OfferModule/ReadOfferModule/index.jsx
  frontend/src/modules/OfferModule/UpdateOfferModule/index.jsx
  frontend/src/pages/Offer/OfferCreate.jsx
  frontend/src/pages/Offer/OfferRead.jsx
  frontend/src/pages/Offer/OfferUpdate.jsx
  frontend/src/pages/Offer/config/index.js
  frontend/src/pages/Offer/index.jsx
  frontend/src/router/RoutesConfig.jsx
  models/appModels/Offer.js
  views/pdf/Offer.pug
Labels: in progress, Frontend
